/* 
    Author: Karly Matthes
    Course: CSC 337
    File Name: styleC.css
    Description: Styles the index.html file using these CSS attributes
    to match the example as closely as possible. Colors and fonts vary 
    from the original example.
*/

body{   
    background-color: rgb(245, 229, 144);
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 40px;
}

#header{
    background-color: rgb(235, 218, 110);
    color: rgb(189, 132, 34);
    font-family: Veranda, sans-serif;
    text-align: center;
    padding-bottom: 60px;
    border: solid;
    float: left;
}

#pricecoLogo{
    max-width: 25%;
    height: auto;
    width: auto;
}

#navigation{
    background-color: rgb(212, 194, 80);
    padding-bottom: 30px;
    width: 25%;
    border: solid;
    border-color: rgb(189, 132, 34);
    float: right;
    position: relative;
}

.navButton{
    display: block;
    font-size: 20px;
    font-family: Veranda, sans-serif;
    padding: 20px;
    text-align: right;
}

#content{
    color: rgb(153, 107, 28);
    font-size: 20px;
    text-align: center;
    float: center;
    min-width: 30%;
    font-family: Veranda, sans-serif;
}

.productImg{
    width: 150px;
    padding: 5px;
}

.styleButton {
    background-color: rgb(114, 115, 114, 0.7); 
    color: rgb(255, 255, 255);
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    margin: 5px;
    margin-bottom: 20px;
    bottom: 0px;
    position: fixed;
    z-index: 3;
}

#styleA{
    left: 5px;
}

#styleB{
    left: 85px;
}

#styleC{
    left: 165px;
}